
.top {
  background: #56CCF2;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 140px;
  .fi-label {
    padding: 15px 0px 30px 50px;
  }
  .search{
    height: 90px;
    background: #002456;
    clip-path: polygon(0 0, 100% 0,100% 70%,0 100%);
    font-size: 34px;
  }
  .search-field {
    padding: 15px 30px 30px 0;
    -webkit-animation: blink 0.45s linear infinite;
    font-weight: bold;
  }
}

.bottom {
  background: #002456;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.main {
  padding-top: 130px;
  padding-bottom: 50px;
  overflow-y: auto;

  .event-label {
    height: 70px;
    width: 100%;
    background: lightcoral;
  }
  .events-table {

      background: aquamarine;
  }
  .button-more {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .news-label {
    height: 80px;
    width: 100%;
    background: #002456;
    text-align: center;
    color: white;
    font-weight: bold;

      .events-arrow{
        font-size: 40px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }

      .latest-events{
        padding-top: 8px;
        font-size: 20px;
      }
    @media (max-width: 1090px) {
      .events-arrow{
        font-size: 37px;

      }

      .latest-events{
        font-size: 18px;
        padding-top: 8px;
      }
    }

    @media (max-width: 800px) {
      .events-arrow{
        font-size: 34px;
      }

      .latest-events{
        font-size: 17px;
        padding-top: 9px;
      }
    }

      @media (max-width: 570px) {
      .events-arrow{
        font-size: 31px;
      }

      .latest-events{
        font-size: 16px;
        padding-top: 9px;

      }
    }
    @media (max-width: 375px) {
      .events-arrow{
        font-size: 26px;

      }

      .latest-events{
        font-size: 15px;
        padding-top: 10px;
      }
    }

  }
  .news {
    height: 700px;
    background: white;
  }

  @media (max-width: 1366px) {
    .news {
      height: 600px;
    }
  }

  @media (max-width: 1090px) {
    .news {
      height: 550px;
    }
  }

  @media (max-width: 800px) {
    .news {
      height: 450px;
    }
  }

  @media (max-width: 570px) {
    .news {
      height: 350px;
    }

  }

  @media (max-width: 375px) {
    .news {
      height: 250px;
    }

  }


}

.menu-item, .menu-item2, .logo, .fi-label, .search-field, .bottom {
  display: inline-block;
  color: white;
}

.menu {
  display: flex;
  justify-content: space-between;


  .menu-list{
      padding-left: 2%;
      padding-right: 2%;
      width: 100%;

      .menu-item {
        padding: 3px 5px;
        width: 19%;
        margin: 8px 5px;
        text-align: center;
        font-size: 20px;

      }

      @media (max-width: 1366px){
        .menu-item {
          width: 18%;
        }
        .menu-list2{
          padding-right: 3%;
          padding-left: 4%;
        }
      }
      @media (max-width: 806px){
        .menu-item{
          width: 16%;
          font-size: 15px;

        }
      }
  }


  .menu-list2 {
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;

    .menu-item2 {
      padding: 5px 5px;
      border: 1px solid white;
      width: 16%;
      margin: 8px 5px 5px 5px;
      text-align: center;
      font-size: 15px;
    }
    .logo {
      padding-left: 10px;
      padding-right: 10px;
      margin: 8px 5px 5px 5px;
    }

    @media (max-width: 1090px) {
      .menu-item2 {
        width: 15%;

      }

      @media (max-width: 1025px) {
        .menu-item2 {
          width: 14%;
          font-size: 13px;
        }

      }

      @media (max-width: 740px) {
        .menu-item2 {
          width: 13%;
          font-size: 12px;
        }
      }

      @media (max-width: 635px) {
        .logo {
          margin-left: 2px;
          margin-right: 1px;
          padding-left: 3px;
          padding-right: 3px;
        }
      }
      @media (max-width: 520px) {
        .menu-item2 {
          width: 12%;
          font-size: 10px;
        }
      }

      @media (max-width: 490px) {
        .menu-item2 {
          width: 11%;
          font-size: 9px;
        }

        .logo {
          width: 80%;
          height: 80%;
        }
      }

    }

  }
  @media (max-width: 635px) {
    .menu-list {
      padding: 0;
    }
  }
}

.event-list {
  padding-right: 40px;
  padding-left: 40px;

}

.img-new {
  background: antiquewhite;
  margin: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.label-date{
  position: relative;
  display: inline-block;
  left: 5px;
  top: 5px;
  background: rgb(227, 63, 69);;
  color: white;
  width: 60px;
  height: 60px;
}

#slider-dots{
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
  z-index: 2;
}


.slide-block{
  width:80%;
  height: 100%;
  margin :0 auto;
  overflow: hidden;
  background-color: #f2f2f2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;


  .all-news {

    color: white;
    font-family: "Century Gothic";
    text-align: center;
    display: flex;
    position: absolute;
    opacity: 0.9;
    border: 3px solid white;
    font-size: 35px;
    padding: 5px;
    right: 5%;
    bottom: 8%;
  }


  @media (max-width: 1366px) {
    .all-news {
      border: 3px solid white;
      padding: 4px;
      font-size: 30px;
      right: 5%;
      bottom: 7%;

    }
  }

  @media (max-width: 1090px) {
    .all-news {
      border: 3px solid white;
      padding: 4px;
      font-size: 25px;
      right: 4%;
      bottom: 6%;

    }
  }

  @media (max-width: 800px) {
    .all-news {
      border: 3px solid white;
      font-size: 21px;
      padding: 4px;
      right: 3.5%;
      bottom: 5.5%;
    }
  }

  @media (max-width: 570px) {
    .all-news {
      border: 3px solid white;
      font-size: 20px;
      padding: 4px;
      right: 3%;
      bottom: 5%;
    }

    @media (max-width: 375px) {
      .all-news {
        border: 3px solid white;
        font-size: 15px;
        padding: 3px;
        right: 2%;
        bottom: 4%;
      }
    }
  }


  }
  .slidetext{
    display: flex;
    color:white;
    font-size: 40px;
    font-weight: bold;
    padding: 5% 45%;
    position: absolute;
    top:-30px;
    opacity: 0.9;
    text-align: center;
  }

  .dot{
    position: relative;
    display: inline-block;
    list-style: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 2px;
    opacity: 0.9;
    border: 3px solid white;
    transition: opacity 0.4s linear;

  }

  .active, dot:hover{
    background-color: white;
    border: 4px solid white;
    opacity: 0.9;

  }

  .previous , .next {
    cursor: pointer;
    position : absolute;
    top: -25px ;
    padding: 70px;
    width : auto;
    display:block;
    color:white;
    font-size: 300px;
    float: left;
    opacity: 0;
  }


  @media (max-width: 1090px) {
    .slidetext {
      font-size: 35px;
      top:20px;
    }
    .previous , .next {
      font-size: 275px;
      top: -20px ;
      padding: 60px;
    }



  }

  @media (max-width: 800px) {
    .slidetext {
      font-size: 30px;
      top:30px;
    }
    .previous , .next {
      font-size: 250px;
      top: -15px ;
      padding: 50px;
    }

  }

  @media (max-width: 570px) {
    .slidetext {
      font-size: 25px;
      top:40px;
    }

    .previous , .next {
      font-size: 225px;
      top: -5px ;
      padding: 30px;
    }

    @media (max-width: 375px) {
      .slidetext {
        font-size: 20px;
        top:45px;
      }

      .previous , .next {
        font-size: 200px;
        top: 0 ;
        padding: 20px;
      }
    }
  }

@media (max-width: 1366px) {
  .slide-block {
    width: 100%;
  }
}
  .slideimg ,.slide, .slidewrapper{
    width: 100%;
    height:100%;

  }




.slidewrapper {
  position: relative;
  margin: auto ;
}

.previous{
  left:10px;
}

.next{
  right:10px;
}


