
.top{
  background: darkblue;
  position: fixed;
  width: 100%;

  .fi-label {
    padding: 30px;
  }

  .search-field {
    padding: 30px;
  }
}

.bottom {
  background: darkblue;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.main {
  padding-top: 160px;
  padding-bottom: 50px;
  overflow-y: auto;

  .event-label {
    height: 70px;
    width: 100%;
    background: lightcoral;
  }
  .events-table {
    height: 400px;
    background: aquamarine;
  }
  .button-more {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .label-event {
    height: 80px;
    width: 100%;
    background: deepskyblue;
  }
  .news {
    height: 200px;
    background: dodgerblue;
  }
}

.menu-item, .menu-item2, .logo, .fi-label, .search-field, .bottom {
  display: inline-block;
  color: white;
}


.menu {
  display: flex;
  justify-content: space-between;

  .menu-item {
  padding: 50px;
  padding-right: 10px;
  padding-top: 0px;
  text-align: center;
}

  .menu-list {
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;

    .menu-item2 {
      padding: 5px 5px;
      border: 1px solid white;
      width: 16%;
      margin: 8px 5px 5px 5px;
      text-align: center;
      font-size: 14px;
    }
    .logo {
      padding-left: 10px;
      padding-right: 10px;
      margin: 8px 5px 5px 5px;
    }
    @media (max-width: 1090px) {
      .menu-item2 {
        width: 15%;

      }

    @media (max-width: 1025px) {
      .menu-item2 {
        width: 14%;
        font-size: 13px;
      }

    }

      @media (max-width: 740px) {
        .menu-item2 {
          width: 13%;
          font-size: 12px;
        }
      }

      @media (max-width: 635px) {
        .logo {
          margin-left: 2px;
          margin-right: 1px;
          padding-left: 3px;
          padding-right: 3px;
        }
      }
      @media (max-width: 520px) {
        .menu-item2 {
          width: 12%;
          font-size: 10px;
        }
      }

      @media (max-width: 490px) {
        .menu-item2 {
          width: 11%;
          font-size: 9px;
        }
        
      }

  }

  }
  @media (max-width: 635px) {
  .menu-list {
    padding: 0;
  }
}
}





